<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Research</title>
</head>
<body>
<center>
    <h1>Application de gestion de Pokemons</h1>
    </br>
    Cette application sert à chercher sur un pokemon, à l'aide de son nom
    </br>
    Avec une recherche plus avancée en appliquant quelques filtrage sur
    </br>
    la puissance et par categorie
    </br>
    <a th:href="@{search}">Cliquer Ici pour commencer la recherche</a>
</center>
</body>
</html>